.login-page {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 35dvh;
  height: 60dvh;
  background-color: #222222 !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login-header,
.register-header {
  font-size: 30px !important;
  color: #879ebf !important;
  font-family: "Figtree" !important;
}

.login-input-fields,
.register-input-fields {
  width: 95%;
  border-radius: 25px !important;
  //border: 2px solid #ffffff !important;
  height: 20px;
  padding: 5px;
  background-color: #333333;
  font-family: "Figtree" !important;
}

input.login-input-fields:focus {
  outline: none;
}

input.register-input-fields:focus {
  outline: none;
}

.login-text-field-headers,
.register-text-field-headers {
  padding-bottom: 10px;
  color: #879ebf !important;
  font-family: "Figtree" !important;
}

.login-field-icons,
.register-field-icons {
  width: 40px !important;
  height: 32px !important;
  color: #ffffff !important;
}

.login-icon-field-container,
.register-icon-field-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-height: 32px;
}

.incorrect-login-message {
  color: #ffffff !important;
  font-family: "Figtree" !important;
  font-size: 12px !important;
  width: 50%;
  float: left;
  padding-top: 8px;
}

.forgot-password-button {
  position: relative !important;
  float: right !important;
  color: #3f51b5 !important;
  font-family: "Figtree" !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
}

.login-button,
.register-button {
  width: 80%;
  border-radius: 25px !important;
  font-family: "Figtree" !important;
  background-color: #3f51b5 !important;
  color: #ffffff !important;

  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
}

.login-section-container {
  width: 80%;
}

.content-filter-selection-box {
  width: 290px;
  border-radius: 25px !important;
  padding: 0px;
  background-color: #333333;
  font-family: "Figtree" !important;
}

.content-filter-dropdown {
  color: #ffffff !important;
  padding-left: 10px;
  font-family: "Figtree" !important;
}

.register-section {
  padding-bottom: 10px;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  background-color: #333333 !important;
  color: #ffffff !important;
  font-family: "Figtree" !important;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: #333333 !important;
}
