.header {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

.title {
	color: #ffffff;
	padding-bottom: 5px;
	text-align: center;
}

.nav-buttons {
	display: flex;
	justify-content: center;
	bottom: 0;
	width: 100%;
	position: relative;
}

.nav-button-styling {
	color: #333333 !important;
	&.MuiButtonBase-root:hover {
		background-color: transparent;
	}
	.MuiTouchRipple-child {
		background-color: white;
	}
}
