.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.title {
  color: #fff;
  font-size: 20px !important;
  font-family: "Figtree" !important;
  padding-bottom: 10px;
  text-align: center;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  position: relative;
}

.nav-button-styling {
  color: #fff !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: white;
  }
}

.manga-cover-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
