.folder-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 20px;
  padding-bottom: 20px;
}

.folder-search-bar {
  all: unset;
  font-family: "Figtree";
  border: 1px solid #333333;
  margin: 0px 10px 0px 0px;
  padding: 1px 1px 1px 5px;
  height: 30px;
  width: 50%;
  @media screen and (min-width: 600px) {
    margin: 0px 0px 0px 0px;
  }
}

.folder-inputs {
  all: unset;
  font-family: "Figtree";
  border: 1px solid #333333;
  padding: 5px;
  width: 80%;
  margin: 10px 0px 10px 0px;
}

input[type="search"].folder-search-bar:focus {
  border: 1px solid #ffffff;
}

input[type="text"].folder-inputs:focus {
  border: 1px solid #ffffff;
}

.search-button {
  max-width: 50px !important;
  min-width: 30px !important;

  color: #ffffff !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
}
.header-options-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 600px) {
    justify-content: flex-start;
  }
  align-items: center;
}

.folder-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.back-button {
  color: #ffffff !important;
  background-color: #121212 !important;
  max-width: 50px !important;
  min-width: 30px !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRippl e-child {
    background-color: #ffffff !important;
  }
}

.create-folder-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.delete-folder-button {
  color: #ffffff !important;
  max-width: 50px !important;
  min-width: 30px !important;
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
}

.add-folder-button {
  max-width: 50px !important;
  min-width: 30px !important;

  height: 30px;
  color: #ffffff !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
}

.create-folder-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 20px;
}

.create-button {
  margin-top: 10px !important;
  background-color: #222222 !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
}
