.folder-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -top: 20px;
  padding-bottom: 20px;
}

.folder-inputs,
.folder-search-bar {
  all: unset;
  font-family: "Figtree";
  border: 1px solid #333333;
  padding: 5px;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

input[type="search"].folder-search-bar:focus {
  border: 1px solid #ffffff;
}

input[type="text"].folder-inputs:focus {
  border: 1px solid #ffffff;
}

.search-button {
  width: 30px;
  height: 30px;
  left: 20px;
  color: #ffffff !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
}

.folder-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.back-button {
  color: #ffffff !important;
  background-color: #333333 !important;
  margin: 0px 0px 0px 20px !important;
  height: 30px;
  font-family: "Figtree" !important;
  text-transform: none !important;

  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRippl e-child {
    background-color: #ffffff !important;
  }
}

.create-folder-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.folder-modification-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.delete-folder-button {
  color: #ffffff !important;
  height: 30px;
  font-family: "Figtree" !important;
  margin: 0px 20px 0px 0px !important;

  text-transform: none !important;

  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
}

.add-folder-button {
  width: 30px;
  height: 30px;
  color: #ffffff !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
}

.create-folder-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 20px;
}

.create-button {
  margin-top: 10px !important;
  background-color: #222222 !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
}
