.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.raw-button {
  background-color: #191919;
  width: 50px;
  height: 20px;
  text-align: center;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff;
  }
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.folder-add-button {
  background-color: #191919;
  color: #333333 !important;
  width: 50px;
  height: 20px;
  text-align: center;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff;
  }
}

.controls-chapters-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  position: relative;
  bottom: 0;
}

.page-header {
  padding-bottom: 20px;
  width: "100%";
}

.manga-controls {
  width: 50%;
}

.manga-chapter-list {
  overflow: scroll;
  height: 40dvh;
  width: 50%;
  margin: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.manga-chapter-list::-webkit-scrollbar {
  display: none;
}

#folder-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: #121212 !important;
  max-width: 80dvw;
}

#folder-dialog .css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  color: #ffffff !important;
  font-family: "Figtree" !important;
}

#folder-dialog .css-knqc4i-MuiDialogActions-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#folder-dialog .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: #ffffff !important;
  font-family: "Figtree" !important;
  text-transform: none;
}

.folder-button {
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
}
