.individual-page-container {
  height: 98dvh;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.controls-chapters-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  margin-top: 20px;
  overflow: hidden;
}

.show-more-button {
  margin-bottom: 20px !important;
  font-family: "Figtree", sans-serif !important;
  text-transform: none !important;
  width: 50%;
  height: 50px;
  color: unset !important;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.page-header {
  padding-bottom: 20px;
  width: "100%";
}

.manga-chapter-list {
  overflow: scroll;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;

  @media (width <= 1600px) {
    width: 100%;
  }
}

.manga-chapter-list::-webkit-scrollbar {
  display: none;
}

.bottom-desktop-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}

.similar-manga-section {
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media (width <= 1600px) {
    display: none;
  }
}

.empty-chapters-text {
  @media (width >= 1600px) {
    display: none;
  }
}

.similar-manga {
  overflow: scroll;
  scrollbar-width: none;
}

.similar-manga::-webkit-scrollbar {
  display: none;
}
