.overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  position: absolute;
  width: 300px;
  height: 320px;
  border-radius: 3;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.05));
}

::-webkit-scrollbar {
  display: none;
}

.infoBar {
  background-color: #121212;
}

.button {
  background-color: transparent;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #121212;
  }
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-bottom: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  @media screen and (max-width: 600px) {
    dispay: none;
  }
}

.carousel-selector {
  overflow: hidden;
  display: flex;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  @media screen and (min-width: 600px) {
    height: 300px;
    width: 266px;
  }
  @media screen and (max-width: 600px) {
    position: relative;
    height: 150px;
  }
}

.carousel-image-div {
  @media screen and (max-width: 600px) {
    height: 100%;
  }
}

.carousel-image {
  @media screen and (min-width: 600px) {
    height: 320px;
  }
  @media screen and (max-width: 600px) {
    height: 100%;
  }
}

.carousel-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 35px;
  @media screen and (max-width: 600px) {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: #121212;
  }
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 600px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.indicators {
  @media screen and (max-width: 600px) {
    display: none;
  }
}
