.centered {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.chapter-page-traversal {
  background-color: transparent;
  width: 50%;
  height: 100%;
  color: #fff !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: unset !important;
}

.page-container {
  position: relative;
  overflow: scroll;
  justify-content: center;
  align-items: center;
  scrollbar-width: none;
}

.page-container {
  -webkit-scrollbar {
    display: none;
  }
}
.page {
  width: 100%;
  object-fit: contain;
}

.overlay-buttons {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.chapter-page-traversal-buttons {
  color: unset !important;
}
