.centered {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.chapter-page-traversal {
	background-color: transparent;
	width: 50%;
	height: 100%;
	color: #ffffff;
	&.MuiButtonBase-root:hover {
		background-color: transparent;
	}
}

.page-container {
	height: 65vh;
	position: relative;
	overflow: hidden;
}

.page {
	width: 100%;
	height: 65vh;
	object-fit: contain;
}

.overlay-buttons {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
}
