.similar-manga-container {
}

.similar-manga-item {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px !important;
  @media (width >= 900px) {
    max-width: 40% !important;
  }

  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.similar-manga-details {
  max-height: 170px;
  overflow: scroll;
  font-family: "Figtree", sans-serif;
  scrollbar-width: none;
  max-width: 100%;
  overflow-wrap: break-word;
  @media (width <= 900px) {
    max-height: 120px;
  }
}

.info-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 10px;
  overflow: hidden;
}

.similar-manga-grid {
  padding: 10px;
}

.similar-manga-grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  padding-top: 10px;
  @media (width < 600px) {
    width: 100% !important;
  }
}
.similar-manga-grid-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  @media (width > 1500px) {
    min-width: 20% !important;
    max-width: 20% !important;
  }
  min-width: 30%;
  max-width: 30%;
  @media screen and (min-width: 600px) and (max-width: 900px) {
    min-width: 46% !important;
    max-width: 46% !important;
  }
  @media (width < 600px) {
    max-width: 33% !important;
    min-width: 33% !important;
  }
}
.similar-manga-button {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  color: unset !important;
  width: 100%;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  @media (width < 600px) {
    flex-direction: column !important;
  }
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
}

.similar-manga-text {
  flex-grow: 1;
  max-width: 100%;
  flex-shrink: 1;
  overflow: hidden;
  @media (width > 600px) {
    margin-left: 10px;
  }
}

.similar-manga-name {
  font-family: "Figtree", sans-serif !important;
  text-transform: none !important;
  font-size: 18px !important;

  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: nowrap;

  text-align: left;
  @media (width < 600px) {
    font-size: 16px !important;
    text-align: center;
  }
}

.similar-manga-details {
  font-family: "Figtree", sans-serif !important;
  text-transform: none !important;
  font-size: 15px !important;
  text-align: left;
  @media (width < 600px) {
    text-align: center;
  }
}
