.chapters-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100% !important;
}
.chapters-list::-webkit-scrollbar {
  display: none;
}

.chapter-button-container {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.chapter-button {
  color: #fff !important;
  width: 95%;
  height: 90%;
  justify-content: space-evenly !important;

  .MuiTouchRipple-child {
    background-color: #fff !important;
  }
}

.manga-chapters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chapter-button-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
