.chapters-list {
	max-height: 70dvh;
	overflow: scroll;
	display: inline-block !important;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.chapters-list::-webkit-scrollbar {
	display: none;
}

.chapter-button {
	width: 100%;
	color: #ffffff !important;
	height: 100%;
	background-color: #191919 !important;
	justify-content: space-evenly !important;
	&.MuiButtonBase-root:hover {
		background-color: transparent !important;
	}
	.MuiTouchRipple-child {
		background-color: #ffffff !important;
	}
}

.chapter-item {
	width: 100%;
	height: 50px;
	padding: 2px;
}
