.chapters-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100% !important;
}
.chapters-list::-webkit-scrollbar {
  display: none;
}

.chapter-button-container {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.chapter-button {
  color: #fff !important;
  width: 95%;
  height: 90%;
  justify-content: space-evenly !important;

  .MuiTouchRipple-child {
    background-color: #fff !important;
  }
}

.manga-chapters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chapter-button-text {
  display: flex;
  flex-direction: row;
  @media (width >= 1200px) {
    width: 70%;
  }
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.info-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.scanlation-name {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-family: "Figtree" !important;
  color: #fff;
}
.chapter-details {
  font-family: "Figtree" !important;
  color: #fff;
  text-transform: none;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
