.home-page-container {
	min-height: 100dvh;
}

.manga-category-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
@media screen and (min-width: 1500px) {
	.manga-category-section {
		margin-top: 100px;
	}
}

.manga-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.manga-entries {
	overflow: scroll;
	max-height: 70dvh;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.manga-entries::-webkit-scrollbar {
	display: none;
}

.show-more-button {
	color: #121212;
	background-color: transparent;
	&.MuiButtonBase-root:hover {
		background-color: transparent;
	}
	width: 20px;
	height: 20px;
}

.header {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

.tags-list {
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.tags-list-button {
	width: 100px;
	color: #121212;
	background-color: transparent;
	&.MuiButtonBase-root:hover {
		background-color: transparent;
	}
}

.tag-button {
	background-color: #191919 !important;
	width: 120px;
	height: 30px;

	text-align: center;
	&.MuiButtonBase-root:hover {
		background-color: transparent;
	}
	.MuiTouchRipple-child {
		background-color: white;
	}
}

.manga-category-label {
	max-width: 100px !important;
}
