.popular-manga-header {
  font-family: "Figtree", sans-serif !important;
  font-size: 20px !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom-home-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.home-title-and-dialog-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tags-button {
  color: unset !important;
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  background-color: transparent !important;
}
