.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.active-page-area {
  display: flex;
  flex-direction: column;
}

.reader-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.current-manga-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.manga-name-button {
  text-transform: none !important;
  color: unset !important;
  align-self: center;

  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
}

.reader-page-text {
  font-family: "Figtree", sans-serif !important;
  overflow: hidden;
  max-height: 60px;
  word-break: break-word;
  white-space: word-wrap;
  text-overflow: ellipsis;
}
