.manga-details-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.individual-details-button {
  width: 30px !important;
  min-width: 30px !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #fff !important;
  }
}

#folder-dialog {
  & .MuiPaper-root {
    background-color: #121212 !important;
    width: 400px !important;
    border-radius: 10px;
  }
}

.folder-button {
  color: #fff !important;
  text-transform: none !important;
  font-family: "Figtree" !important;
  font-size: 16px !important;
  &:hover {
    background-color: transparent !important;
  }
}

.content-rating-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
