.loading-indicator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inside-folder-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.exit-library-button {
  color: unset !important;
  padding: 3px 4px !important;
  max-width: 40px !important;
  min-width: 40px !important;
  margin: 0px 2px 0px 2px !important;

  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
}

.open-library-controls-button {
  position: fixed !important;
  z-index: 1000;
  max-width: 50px !important;
  min-width: 50px !important;
  height: 50px !important;
  border-radius: 20px !important;
  right: 20px;
  bottom: 20px;

  &.MuiButtonBase-root:hover {
    transform: translateY(-5px);
  }
}


.library-page-container {
  min-height: calc(var(--vh, 1vh) * 98);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

.library-contents-header {
  font-size: 20px;
  font-family: "Figtree";
  text-align: center;
  padding-bottom: 10px;
}

.redirect-button-library {
  color: unset !important;
  text-transform: none !important;
  width: 200px;
  align-self: center;

  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
}

.folder-bar-and-grid-library {
  max-height: calc(var(--vh, 1vh) * 40);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.personal-folders-library {
  width: 100%;
}

.current-folder-header {
  font-size: 20px;
  font-family: "Figtree";
  text-align: center;
  width: 100%;
}

.folder-description-library {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none !important;
  color: #ffffff;
  font-family: "Figtree";
  font-size: 12px;
}

.scrolling-library {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.library-divider {
  width: 100%;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  border-radius: 10px;
}
