.loading-indicator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.library-page-container {
  height: 100%;
}

.library-header-and-contents {
  min-height: 98vh;
}
