.logo-header-button {
  color: unset !important;
  max-height: 40px !important;
  max-width: 40px !important;
  min-width: 40px !important;
  min-height: 40px !important;
  padding: 0px !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
}

.logo-home-icon {
  width: 40px;
  height: 40px;
}

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  position: relative;
  top: 0;
}

#header-search-input {
  border-radius: 25px !important;
}

input[type="search"]:focus {
  font-family: "Figtree" !important;
}

.input-field {
  border-radius: 25px !important;
  font-family: "Figtree" !important;

  input {
    text-align: center;
  }

  & .MuiOutlinedInput-root {
    &.Mui-focused fieldset {
      border: none;
    }
  }
}

.search-functionality-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.account-login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 150px;
  background-color: #1f1f1f;
}

.logo-field-login {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.login-logo {
  &.MuiSvgIcon-root {
    height: 40px;
    width: 40px;
  }
  color: #ffffff;
}

.header-buttons {
  color: unset !important;
  background-color: transparent !important;
  padding: 0px !important;
  height: 40px !important;
  margin: 0px 5px 0px 5px !important;
  @media screen and (max-width: 600px) {
    min-width: 30px !important;
  }
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }

  .MuiTouchRipple-child {
    background-color: white;
  }
}

.header-buttons-right {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-nav-dialog-columns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.header-nav-label {
  font-family: "Figtree" !important;
  font-size: 12px !important;
  text-transform: none !important;
}

.account-verification-alert {
  background-color: #1f1f1f !important;
  color: #ffffff !important;
  font-family: "Figtree" !important;
  font-size: 12px;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.account-verification-alert-icon {
  color: #ffffff !important;
}

.alert-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.manga-dex-credit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Figtree" !important;
  min-width: 100px;
  font-size: 12px;
}
