.manga-entry-overlay-button {
  background-color: transparent !important;

  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #121212 !important;
  }
}

.folder-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none !important;
  color: #ffffff;
  font-family: "Figtree";
  font-size: 12px;
}

.folder {
  height: 100px;
  width: 200px;
  background-color: #222222 !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }

  @media screen and (max-width: 600px) {
    width: 170px;
  }
}
