.manga-entry-overlay-button {
  background-color: transparent !important;
  padding: 0px !important;

  .MuiTouchRipple-child {
    background-color: #121212 !important;
  }
}

.folder-description-clicked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60dvw;
}

.folder {
  height: 100px;
  width: 200px;
  color: unset !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }

  @media screen and (max-width: 600px) {
    width: 170px;
  }
}

.redirect-button {
  color: unset !important;
  text-transform: none !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
}
