.library-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  width: 100%;
}

.library-header-button {
  color: #ffffff !important;
  &:hover {
    background-color: transparent !important;
  }
}

.library-header-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
}

.library-search-bar {
  all: unset;
  font-family: "Figtree";
  border: 1px solid #333333;
  padding: 5px;
  width: 80%;

  margin: 10px 0px 10px 0px;
}

input[type="search"].library-search-bar:focus {
  border: 1px solid #ffffff;
}
