.user-page-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.user-image {
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  @media screen and (max-width: 600px) {
    width: 150px;
    height: 150px;
  }
}

.user-details-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 50px;
  @media screen and (max-width: 600px) {
    height: 200px;
  }
}

.image-details-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.user-details {
  padding-left: 10px;
  padding-right: 10px;
  max-height: 250px;
  height: 100%;
  width: 100%;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.manga-cover {
  width: 100px;
  height: 150px;
  border-radius: 6%;
  filter: brightness(40%);
}

.manga-text {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.category-text {
  padding: 10px;
}

.category-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.category-button {
  color: #ffffff;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: "white";
  }
  text-transform: none;
}

.personal-folders {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.folder-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-options-left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.folder-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: #ff7597 !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #ffffff !important;
}
input[type="search"].folder-search-bar:focus {
  border: 1px solid #ffffff;
}

.folder-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.folder-inputs,
.folder-search-bar {
  all: unset;
  font-family: "Figtree";
  border: 1px solid #333333;
  padding: 5px;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

input[type="text"].folder-inputs:focus {
  border: 1px solid #ffffff;
}

.back-button {
  color: #ffffff !important;
  background-color: #333333 !important;
  margin: 0px 0px 0px 20px !important;
  height: 30px;
  font-family: "Figtree" !important;
  text-transform: none !important;

  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
}

.delete-folder-button {
  color: #ffffff !important;
  background-color: #333333 !important;
  height: 30px;
  font-family: "Figtree" !important;
  margin: 0px 20px 0px 0px !important;

  text-transform: none !important;

  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
}

.folder-modification-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.current-folder-header {
  font-size: 20px;
  font-family: "Figtree";
  padding-bottom: 10px;
}

.info-open-button {
  color: #ffffff !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
}

#info-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper,
#folder-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: #121212 !important;
  width: 30dvw;
  @media screen and (max-width: 1000px) {
    width: 90dvw;
  }
  @media screen and (min-width: 1000px) and (max-width: 1500px) {
    width: 60dvw;
  }
}

#info-dialog .css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  color: #ffffff !important;
  font-family: "Figtree" !important;
  text-align: center;
}

#info-dialog .css-knqc4i-MuiDialogActions-root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#info-dialog .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: #ffffff !important;
  font-family: "Figtree" !important;
  text-transform: none;
}

#folder-dialog {
  text-align: center;
}

#folder-dialog .css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  color: #ffffff !important;

  font-family: "Figtree" !important;
}

#folder-dialog .css-knqc4i-MuiDialogActions-root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#folder-dialog .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: #ffffff !important;
  font-family: "Figtree" !important;
  text-transform: none;
}

.search-button {
  width: 30px;
  height: 30px;
  left: 20px;
  color: #ffffff !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
}

.add-folder-button {
  width: 30px;
  height: 30px;
  color: #ffffff !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
}

.folder {
  height: 100px;
  width: 200px;
  background-color: #222222 !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
}

.create-folder-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 20px;
}

.create-button {
  margin-top: 10px !important;
  background-color: #222222 !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
}
.create-folder-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.field-name-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
}
.css-j204z7-MuiFormControlLabel-root {
  margin: 0px 0px 0px 0px !important;
}
.manga-entry-overlay-button {
  background-color: transparent !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #121212 !important;
  }
}
