.user-page-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.user-image {
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  @media screen and (max-width: 600px) {
    width: 150px;
    height: 150px;
  }
}

.user-details-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 50px;
  @media screen and (max-width: 600px) {
    height: 200px;
  }
}

.image-details-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.user-details {
  padding-left: 10px;
  padding-right: 10px;
  max-height: 250px;
  height: 100%;
  width: 100%;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.manga-cover {
  width: 100px;
  height: 150px;
  border-radius: 6%;
  filter: brightness(40%);
}

.manga-text {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.category-text {
  padding: 10px;
}

.category-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.category-button {
  color: #ffffff;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: "white";
  }
  text-transform: none;
}

.personal-folders {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: #ff7597 !important;
}
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #ffffff !important;
}

.current-folder-header {
  font-size: 20px;
  font-family: "Figtree";
  padding-bottom: 10px;
}

.info-open-button {
  color: #ffffff !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #ffffff !important;
  }
}

#info-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper,
#folder-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: #121212 !important;
  width: 30dvw;
  @media screen and (max-width: 1000px) {
    width: 90dvw;
  }
  @media screen and (min-width: 1000px) and (max-width: 1500px) {
    width: 60dvw;
  }
}

#info-dialog .css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  color: #ffffff !important;
  font-family: "Figtree" !important;
  text-align: center;
}

#info-dialog .css-knqc4i-MuiDialogActions-root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#info-dialog .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: #ffffff !important;
  font-family: "Figtree" !important;
  text-transform: none;
  &.MuiButtonBase-root:hover {
    background-color: transparent !important;
  }
}

#folder-dialog {
  text-align: center;
}

#folder-dialog .css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  color: #ffffff !important;

  font-family: "Figtree" !important;
}

#folder-dialog .css-knqc4i-MuiDialogActions-root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#folder-dialog .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: #ffffff !important;
  font-family: "Figtree" !important;
  text-transform: none;
  &.MuiButtonBase-root:hover {
    background-color: transparent !important;
  }
}

.field-name-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
}
.css-j204z7-MuiFormControlLabel-root {
  margin: 0px 0px 0px 0px !important;
}
