.page-and-controls-container {
  height: 80vh;
}

.controls-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.asc-desc-button {
  font-family: "Figtree", sans-serif !important;
  text-transform: none !important;
  height: 30px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.arrow-button {
  color: #333 !important;
}

.scanlation-button {
  width: 100px;
  height: 30px;
  color: unset !important;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #fff !important;
  }
}

.language-button {
  width: 60px;
  height: 25px;
  color: unset !important;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #fff !important;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.list-button {
  justify-content: center !important;
  align-items: center !important;
  height: 30px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.scanlation-text {
  text-transform: none;
  font-family: "Figtree", sans-serif !important;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.language-text {
  font-family: "Figtree", sans-serif !important;
}

.controls-dialog {
  & .MuiPaper-root {
    background-color: #121212 !important;
    border-radius: 10px;
    color: #ffffff !important;
    min-width: 80vw;
    @media screen and (min-width: 600px) {
      min-width: 35vw;
    }
  }
}

.controls-dialog-option-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.controls-dialog-title {
  text-align: center;
}

.controls-inputs {
  all: unset;
  font-family: "Figtree";
  padding: 5px;
  border: none;
  width: 80%;
  margin: 10px 0px 10px 0px !important;
  border-radius: 25px !important;
  text-align: center;
}
