.page-and-controls-container {
  height: 80vh;
}

.controls-container {
  padding-bottom: 10px;
  width: 100%;
}

.asc-desc-button {
  font-family: "Figtree", sans-serif !important;
  text-transform: none !important;
  height: 30px;
  min-width: 20px !important;
}

.arrow-button {
  color: #333 !important;
}

.scanlation-button {
  width: 100px;
  height: 30px;
  color: unset !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #fff !important;
  }
}

.language-button {
  width: 60px;
  height: 25px;
  color: unset !important;

  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
  .MuiTouchRipple-child {
    background-color: #fff !important;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  @media (width >= 900px) {
    justify-content: center;
  }
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
}

.list-button {
  width: 150px;
  background-color: transparent;
  justify-content: center !important;
  align-items: center !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.scanlation-text {
  text-transform: none;
  font-family: "Figtree", sans-serif !important;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.language-text {
  font-family: "Figtree", sans-serif !important;
}
