:root {
  font-family: Figtree !important;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
  color-scheme: dark;
  color: #ffffff;
  background-color: #121212;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
