.home-category-manga-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  @media (width < 600px) {
    flex-direction: column;
  }
}

.home-category-manga-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 25%;
  margin-right: 20px;
  @media (width < 600px) {
    margin-right: 0px;
  }
}

.category-stack-name {
  font-family: "Figtree", sans-serif !important;
  font-size: 20px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-category-manga-grid-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.home-category-manga-button {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100% !important;
  color: unset !important;
  &.MuiButtonBase-root:hover {
    background-color: transparent;
  }
}

.home-category-manga-text {
  font-family: "Figtree", sans-serif !important;
  text-transform: none !important;
  font-size: 20px !important;
  width: 75%;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-align: left;
}

.divider {
  width: 100%;
  background-color: #333;
  height: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.more-button {
  font-family: "Figtree", sans-serif !important;
  font-size: 15px !important;
  background-color: transparent !important;
  color: unset !important;
  text-transform: none !important;
}
